[Unit]
Description = yatt monitor daemon
Wants=mysql.service

[Service]
WorkingDirectory = /srv/yatt/bin
Environment = YATT_USER = yatt
Environment = YATT_PASSWORD = yyy
ExecStart = /srv/yatt/bin/yatt-monitor.sh --log /srv/yatt/log/yatt.log
Restart = always
TimeoutSec = 300
Type = simple
User = ubuntu

[Install]
WantedBy = multi-user.target
